body {
    margin: 0;
    background: #333333;
    padding: 1vh;
    width: 98vw;
    height: 91vh;
}

.controls {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    box-sizing: border-box;
    gap: 10px;
}

.controls__select {
    background: #444444;
    color: #aaaaaa;
    padding: 8px 14px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: monospace;
}

.controls__button {
    padding: 8px 14px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #009578;
    color: #ffffff;
    font-family: monospace;
}

.controls__button:active {
    background: #00705a;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    gap: 10px;
}

.large-area {
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: #aaaaaa;
    background: #444444;
    border: none;
    border-radius: 10px;
    outline: none;
    resize: none;
    font-family: monospace;
    transition: background 0.25s, color 0.25s;
}

.large-area:hover,
.large-area:focus {
    background: #4a4a4a;
}

.large-area:focus {
    color: #eeeeee;
}

.github-link {
    display: inline-block;
    padding: 2px 5px;
    box-sizing: border-box;
    color: #aaaaaa;
    background: #444444;
    border-radius: 8px;
    text-decoration: none;
    font-family: monospace;
    transition: background 0.25s, color 0.25s;
}

.github-link:hover {
    background: #555555;
    color: #ffffff;
}

.version-text{
    color: #aaaaaa;
    text-decoration: none;
    font-family: monospace;
}

.footer-block{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}